

/* Estilo padrão para os links de navegação */
.nav-link {
  color: #000000;
  /* Cor de texto padrão */
  text-decoration: none;
  /* Remova o sublinhado por padrão */
  transition: color 0.09s;
  /* Adicione uma transição de cor suave */

 


}

/* Estilo para o hover com efeito de "salto" */
.nav-link:hover {
  /* Cor que será aplicada quando o mouse passar por cima */
  transform: scale(1.5);
  /* Aumenta a escala do elemento para criar um efeito de "salto" */
}



.link1:hover {
  color: #aad4ec;
}

.link2:hover {
  color: #aad4ec;
  
}

.link3:hover {
  color: #aad4ec;

}

.link4:hover {
  color: #aad4ec;
}

.link5:hover {
  color: #aad4ec;
}

.link6:hover {
  color: #aad4ec;
}

.link7:hover {
  color: #aad4ec;

}