

/* Estilo padrão para os links de navegação */
.nav-link {
  color: #333;
  /* Cor de texto padrão */
  text-decoration: none;
  /* Remova o sublinhado por padrão */
  transition: color 0.3s;
  /* Adicione uma transição de cor suave */

 


}

/* Estilo para o hover com efeito de "salto" */
.nav-link:hover {
  /* Cor que será aplicada quando o mouse passar por cima */
  transform: scale(1.5);
  /* Aumenta a escala do elemento para criar um efeito de "salto" */
}

#navbarNavAltMarkup .nav-link {
  text-decoration: underline;
  /* Adicionar um sublinhado */
}

.link1:hover {
  color: rgba(255, 0, 0, 0.566);
}

.link2:hover {
  color: rgba(0, 0, 255, 0.434);
}

.link3:hover {
  color: rgba(0, 128, 0, 0.807);
}

.link4:hover {
  color: rgb(255, 0, 204);
}

.link5:hover {
  color: purple;
}

.link6:hover {
  color: teal;
}

.link7:hover {
  color: rgba(211, 116, 8, 0.73);
}